.container {
  margin: 50px auto !important;
  margin-top: 6% !important;
  margin-bottom: 6% !important;
}

.container-signup {
  margin-top: 4% !important;
  margin-bottom: 38px !important;
}
.panel-heading {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.signup-div > .panel-heading {
  margin-top: 0px;
}
#signup_form {
  margin-bottom: 20px;
}
.alert-success {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#forgot {
  min-width: 100px;
  margin-left: auto;
  /* text-decoration: none; */
  color: #007bff !important;
}
#signup,
#login {
  /* color: #007bff !important; */
  color: #0e3a90 !important;
  text-decoration: underline;
}
.form-inline {
  padding-left: 3px;
}
.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn.btn-primary {
  margin-top: 20px;
  border-radius: 15px;
}

.panel {
  min-height: 380px;
  /* box-shadow: 5px 5px 30px rgb(0 0 0); */
  border-radius: 12px;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  /* color: #4343ff */
}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* border-radius: 50%; */
  position: relative;
}

a[target="_blank"] {
  position: relative;
  transition: all 0.1s ease-in-out;
}

.bordert {
  border-top: 4px solid #aaa;
  position: relative;
}

.bordert:after {
  content: "or connect with";
  position: absolute;
  top: -13px;
  left: 33%;
  background-color: #fff;
  padding: 0px 8px;
}
.btn-login {
  color: #003e45 !important;
  background-color: #fff !important;
  margin: auto;
  margin-top: 20px !important;
  width: 60% !important;
}
.topnav a:hover {
  text-decoration: underline !important;
}

.topnav a.active {
  color: white !important;
}
@media (max-width: 360px) {
  #forgot {
    margin-left: 0;
    padding-top: 10px;
  }

  body {
    height: 100%;
  }

  .container {
    margin: 30px 0;
  }

  .bordert:after {
    left: 25%;
  }
}

.alert-danger {
  margin-top: 20px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.row {
  margin-right: 30px !important;
  margin-left: -60px !important;
}

.bg-white {
  background-color: #024e4a !important;
}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  background-color: transparent;
  color: white;
}

h3 {
  color: white;
}

.input-field {
  border-left: none;
  border-right: none !important;
  border-top: none;
  border-radius: 0;
  margin: 7px;
}

.text-muted {
  color: #fff !important;
}

#signup,
#login {
  color: #95e4dd !important;
  text-decoration: underline;
}
.border {
  border: none !important;
}

#name::placeholder,
#email::placeholder,
#password::placeholder,
#phone::placeholder,
#province::placeholder {
  color: white;
}

.form-control {
  background-color: transparent;
  color: white;
  border-left: none;
  border-right: none !important;
  border-top: none;
  border-radius: 0;
}
